# Forecasting

SAAS data

In [1]:
import pandas as pd
import numpy as np
#visualizations
import matplotlib.pyplot as plt
import seaborn as sns
# working with data
import datetime
# to evaluate performance using rmse
from sklearn.metrics import mean_squared_error
from math import sqrt
# fir tsa
import statsmodels.api as sm
#holt's linear trend model
from statsmodels.tsa.api import Holt

In [2]:
# acquired data(SAAS)
url = 'https://ds.codeup.com/saas.csv'
df = pd.read_csv(url)
print('shape:', df.shape)
df.head()

shape: (790458, 5)

  Month_Invoiced  Customer_Id  Invoice_Id  Subscription_Type  Amount
0     2014-01-31      1000000     5000000                0.0     0.0
1     2014-01-31      1000001     5000001                2.0    10.0
2     2014-01-31      1000002     5000002                0.0     0.0
3     2014-01-31      1000003     5000003                0.0     0.0
4     2014-01-31      1000004     5000004                1.0     5.0

In [3]:
# Data prep 
df.Month_Invoiced = pd.to_datetime(df.Month_Invoiced)

subscription_type and amount are integers  let's convert them to right data type

In [4]:
df.Subscription_Type.value_counts()

Subscription_Type
0.0    496410
1.0    178212
2.0     70706
3.0     26474
4.0     18656
Name: count, dtype: int64

In [5]:
df.Subscription_Type = df.Subscription_Type.astype(int)

In [6]:
df.Amount.value_counts()

Amount
0.0     496410
5.0     178212
10.0     70706
15.0     26474
20.0     18656
Name: count, dtype: int64

In [7]:
df.Amount = df.Amount.astype(int)

In [8]:
# a datetime index is probably a good idea for time series analysis
df = df.set_index('Month_Invoiced')